<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
&nbsp;&nbsp;&nbsp;&nbsp;ㅇ /sample/exView(sno=dto.sno)
    <li th:each="dto1 : ${list}">
        <a th:href="@{/sample/exView(sno=${#numbers.formatInteger(dto1.sno,5)})}">[[${dto1}]]</a>
    </li>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;ㅇ /sample/exView/{sno}(sno=dto.sno)
    <li th:each="dto2 : ${list}">
        <a th:href="@{/sample/exView/{sno}(sno=${#numbers.formatInteger(dto2.sno,5)})}">[[${dto2}]]</a>
    </li>
</body>
</html>